<?xml version='1.0'?>
<launch>
    <node pkg="rviz" type="rviz" name="rviz"
        args="--display-config $(find carla_visualization)/rviz/custom.rviz"/>
    
    <node pkg="carla_visualization" type="carla_rqt.sh" name="carla_rqt"/>

    <!--node pkg="carla_visualization" type="carla_rqt_graph.sh" name="carla_rqt_graph"/-->

    <node pkg="carla_visualization" type="carla_visualization.py" name="carla_visualization"/>
</launch>